.pio
.vscode
.env
/build/
data
*.bin
*.elf
prompt.md
__pycache__
logs
runs
*.npy
events.out.tfevents.*
private.yml
models/z_ig_*
!models/v5su/weights
!models/fastscnn/weights/
!models/v5nu/weights
!models/v5su_t_nu/weights
docs/papers
explain.md
