.pio
.vscode
.env
/build/
data
*.bin
*.elf
prompt.md
__pycache__
logs
runs
*.pt
*.pth
!weights/*.pt
!weights/*.pth
*.onnx
!weights/*.onnx
calibration_image_sample_data_20x128x128x3_float32.npy
events.out.tfevents.*
